#show_table{
	text-align: center;
	width: 100%;
}
.image{
	height: 200px;
	width: 200px;
}
td{
	font-weight: 500;
	font-size: 20px;
}
caption{
	font-weight: 1000;
	font-size: 50px;
	color: blue;
	margin-bottom: 30px;
}
#show_top_left{
	float: left;
}
#show_top_right{
	float: right;
}
