#show_top_left{
	float: left;
}
#show_top_right{
	float: right;
}
td{
	font-weight: 500;
	font-size: 20px;
}
caption{
	font-weight: 1000;
	font-size: 50px;
	color: blue;
	margin-bottom: 30px;
}
.logo{
	text-align: center;
	margin-top:30px;
}
#logo_image{
	height: 80px;
	width:80px;
	border-radius:10px 10px 10px 10px;
	margin-left: 100px;
	float: left;
	
}
#input{
	margin-left: 100px;
	float: left;
	text-align: center;
}
#input_text{
	
	height: 50px;
	width: 500px;
	text-align: center;/* 居中元素里面的内容 */
	border-width:2px;
	font-size: 30px;
	font-weight: 500px;
	
}

#input_button{
	height: 50px;
	width: 100px;
	margin-left: 20px;
	margin-bottom: 5px;
	border-radius:10px 10px 10px 10px;
}





